

                                                                   /* CSS Relative Unit */
h1{
    /* font-size: 100px; */
    font-size: 10vw; => viewport
}

                                                                /* Responsive image/Fluid Image */

.tiger img{
    width: 100%;
}


                                                               /* body max-width and margin auto */

body{
    max-width: 1200px;
    margin: 0 auto;
    border: 2px solid red;
}


                                                   /* Responsive Split Screen Using Flex */

.container{
    display: flex;
}

.container .split{
    width: 50% ;
}

.split img{
    width: 80%;
}

@media screen and (max-width: 576px) {
    .container{
        /* flex-direction: column; */
        flex-direction: column-reverse;
    }
}